body{margin:0px;}

#title{
	position:absolute;
	width:100%;
	height:100px;
}

#titlein{
	width:80%;
	height:100%;
	margin-left:10%;
	background:lightgrey;
	position:absolute;
}

#titlemain{
	width:95%;
	height:100%;
	margin-left:2.5%;
	background:lightgrey;
	position:absolute;
}

#titlename{
	width:30%;
	height:100%;
	position:absolute;
}

#titletop{
	width:100%;
	height:70%;
	position:absolute;
}

#titlebottom{
	width:100%;
	height:30%;
	margin-top:70%;
	position:absolute;
}

#menu{
	position:absolute;
	width:100%;
	height:45px;
	margin-top:100px;
}

#menuin{
	width:80%;
	height:100%;
	margin-left:10%;
	background:grey;
	position:absolute;
}

#menumain{
	width:95%;
	height:100%;
	margin-left:2.5%;
	background:grey;
	position:absolute;
}

#menuleft{
	position:absolute;
	width:60%;
	height:100%;
	background:grey;
}

.mainmenu{
	margin-top:10px;
	border-right:1px solid lightgrey;
	float:left;
}

.mainmenu a{
	font-size:24px;
	font-weight:bold;
	color:AliceBlue;
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
	text-decoration:none;
}

#menuright{
	position:absolute;
	width:40%;
	height:100%;
	margin-left:60%;
	background:grey;
}

#search{
	position:absolute;
	width:60%;
	height:100%;
	margin-left:20%;
	background:grey;
	border-left:2px solid lightgrey;
	border-right:2px solid lightgrey;
}

#button{
	position:absolute;
	width:20%;
	height:100%;
	margin-left:80%;
	background:grey;
	float:right;
}

#hitz{
	position:absolute;
	width:100%;
	height:600px;
	margin-top:145px;
}

#hitzin{
	width:80%;
	height:100%;
	margin-left:10%;
	background:grey;
	position:absolute;
}

#hitzmain{
	width:95%;
	height:100%;
	margin-left:2.5%;
	background:lightgrey;
	position:absolute;
}

#bottom{
	position:absolute;
	width:100%;
	height:50px;
	margin-top:745px;
}

#bottomin{
	width:80%;
	height:100%;
	margin-left:10%;
	background:grey;
	position:absolute;
}

#bottommain{
	width:95%;
	height:100%;
	margin-left:2.5%;

	position:absolute;
}
